
    <!-- Card -->
    <div class="card shadow-light-lg lift lift-lg mb-6" data-aos="fade-up" data-aos-delay="100">

        <!-- Body -->
        <a class="card-body my-auto" href="#!">

            <!-- Heading -->
            <h3>
                {{ blogpost.titre }}
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
                {{ blogpost.contenu|u.truncate(150 ,'...',false) }}
            </p>

        </a>

        <!-- Meta -->
        <a class="card-meta " href="#!">

            <!-- Divider -->
            <hr class="card-meta-divider">

            <!-- Date -->
            <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                <time datetime="2019-05-02"> Publié le {{ blogpost.createdAt|date('d/m/y') }}</time>
            </p>

        </a>

    </div>

